@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Projeto do JovemProgramador</h1>
    <p>Link:<a href="https://learn.microsoft.com/aspnet/core">Link do projeto no github</a>.</p>
</div>