@using JovemProgramadorWebApplication
@using JovemProgramadorWebApplication.Models
@{
    Layout = "_LayoutProfessor";
}
@model Professor

<form asp-controller="Professor" asp-action="CadastrarProfessor" method="post">
    <div class="mb-3 col-md-4">
        <label class="form-label">Nome Completo:</label>
        <input type="text" asp-for="NomeCompleto" class="form-control">
    </div>

    <div class="mb-3 col-md-2">
        <label class="form-label">Email:</label>
        <input type="text" asp-for="Email" class="form-control ">
    </div>

    <div class="mb-3 col-md-2">
        <label class="form-label">Disciplina:</label>
        <input type="text" asp-for="Disciplina" class="form-control ">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-primary" type="button" asp-controller="Professor" asp-action="Index"> Voltar</a>
    </div>
</form>